.user-information-container {
    width: 50%;
    border: 1px solid #000;
    float: right;
}

.change-password-container {
    display: table-cell;
    vertical-align: middle;
}

.user-information-box {
    display: table-cell;
    vertical-align: middle;
}

.user-information-box div {
    font-family: 'NanumBarunGothic';
}

.user-information-box .user-position {
    font-size: 16px;
    color: #3669dd;
}

.general-sentence {
    color: #444;
    margin-top: 4px;
    font-size: 17px;
}

.general-sentence-point {
    font-size: 18px;
    margin-top: 4px;
}
.main-heading {
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    margin-bottom: 3vh;
    margin-left: 5%;
}
.subheading {
    font-size: 23px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    margin-bottom: 2vh;
}
.division {
    font-size: 19px;
    font-weight: bold;
    margin-top: 1.2vh;
}
.exclamation-phrases {
    font-size: 9px;
    text-align: center;
    margin-top: 8%;
    color: #dc0e0e;
}
.mypage-card {
    min-width: 350px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow:  20px 20px 60px #e0e0e0,
             -20px -20px 60px #ffffff;
}