.information-component-container {
    display: table;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    /*border: 1px solid #000;*/
}
.div-tag-top {
    font-size: 25px;
    font-weight: bold;
}
.div-tag-bottom {
    margin-top: 7px;
    font-size: 15px;
}